@media (min-width:320px){
    /* 12 - 1 
    100/12= */
    .xs-1{
        width: 8.3333%;
    }
    /* 12 - 2 [6-6] 100/6 */
    .xs-2{
        width: 16.66%;
    }
    /* 12 - 3 [4-4-4] 100/4 */
    .xs-3{
        width: 25%;
    }
    /* 12 - 4 [3-3-3-3] 100/3 */
    .xs-4{
        width: 33.3333%;
    }
    /* 12 - 5 [2.4-2.4-2.4-2.4] 100/2.4 */
    .xs-5{
        width: 41.6666%;
    }
    .xs-6{
        width: 50%;
    }
    .xs-7{
        width: 58.34%;
    }
    .xs-8{
        width: 66.6666%;
    }
    .xs-9{
        width: 75%;
    }
    .xs-10{
        width: 83.3333%;
    }
    .xs-11{
        width: 91.667%;
    }
    .xs-12{
        width: 100%;
    }
}

@media (max-width:480px){
    /* 12 - 1 
    100/12= */
    .xs-1{
        width: 8.3333%;
    }
    /* 12 - 2 [6-6] 100/6 */
    .xs-2{
        width: 16.66%;
    }
    /* 12 - 3 [4-4-4] 100/4 */
    .xs-3{
        width: 25%;
    }
    /* 12 - 4 [3-3-3-3] 100/3 */
    .xs-4{
        width: 33.3333%;
    }
    /* 12 - 5 [2.4-2.4-2.4-2.4] 100/2.4 */
    .xs-5{
        width: 41.6666%;
    }
    .xs-6{
        width: 50%;
    }
    .xs-7{
        width: 58.34%;
    }
    .xs-8{
        width: 66.6666%;
    }
    .xs-9{
        width: 75%;
    }
    .xs-10{
        width: 83.3333%;
    }
    .xs-11{
        width: 91.667%;
    }
    .xs-12{
        width: 100%;
    }
}

@media (max-width:768px){
    /* 12 - 1 
    100/12= */
    .sm-1{
        width: 8.3333%;
    }
    /* 12 - 2 [6-6] 100/6 */
    .sm-2{
        width: 16.66%;
    }
    /* 12 - 3 [4-4-4] 100/4 */
    .sm-3{
        width: 25%;
    }
    /* 12 - 4 [3-3-3-3] 100/3 */
    .sm-4{
        width: 33.3333%;
    }
    /* 12 - 5 [2.4-2.4-2.4-2.4] 100/2.4 */
    .sm-5{
        width: 41.6666%;
    }
    .sm-6{
        width: 50%;
    }
    .sm-7{
        width: 58.34%;
    }
    .sm-8{
        width: 66.6666%;
    }
    .sm-9{
        width: 75%;
    }
    .sm-10{
        width: 83.3333%;
    }
    .sm-11{
        width: 91.667%;
    }
    .sm-12{
        width: 100%;
    }
}

@media (max-width:1024px){
    /* 12 - 1 
    100/12= */
    .md-1{
        width: 8.3333%;
    }
    /* 12 - 2 [6-6] 100/6 */
    .md-2{
        width: 16.66%;
    }
    /* 12 - 3 [4-4-4] 100/4 */
    .md-3{
        width: 25%;
    }
    /* 12 - 4 [3-3-3-3] 100/3 */
    .md-4{
        width: 33.3333%;
    }
    /* 12 - 5 [2.4-2.4-2.4-2.4] 100/2.4 */
    .md-5{
        width: 41.6666%;
    }
    .md-6{
        width: 50%;
    }
    .md-7{
        width: 58.34%;
    }
    .md-8{
        width: 66.6666%;
    }
    .md-9{
        width: 75%;
    }
    .md-10{
        width: 83.3333%;
    }
    .md-11{
        width: 91.667%;
    }
    .md-12{
        width: 100%;
    }
}

@media (max-width:1200px){
    /* 12 - 1 
    100/12= */
    .lg-1{
        width: 8.3333%;
    }
    /* 12 - 2 [6-6] 100/6 */
    .lg-2{
        width: 16.66%;
    }
    /* 12 - 3 [4-4-4] 100/4 */
    .lg-3{
        width: 25%;
    }
    /* 12 - 4 [3-3-3-3] 100/3 */
    .lg-4{
        width: 33.3333%;
    }
    /* 12 - 5 [2.4-2.4-2.4-2.4] 100/2.4 */
    .lg-5{
        width: 41.6666%;
    }
    .lg-6{
        width: 50%;
    }
    .lg-7{
        width: 58.34%;
    }
    .lg-8{
        width: 66.6666%;
    }
    .lg-9{
        width: 75%;
    }
    .lg-10{
        width: 83.3333%;
    }
    .lg-11{
        width: 91.667%;
    }
    .lg-12{
        width: 100%;
    }
}




